<div class="mainpicture">
<br/>
  <div class="box col-10 offset-1 text-center">
    <div class="container">
      <br/>
      <h1><%= title 'About Us'%></h1>
      <br/>
      <p class="col-sm-8 offset-sm-2">Process Engineering Consultants, LLC, was founded in 2019 to develop partnerships with local businesses to help improve their processes, products, and bottom line. PEC specializes in project management, process engineering, and project execution. Our goal is to assist with your projects, small to large, to help you improve your product quality and most imporantly, to increase your net revenue. We have years of industrial experience in chemical engineering and project management to assist your company's gain in your desired metric.</p>
    </div>
    <br/>
     <%= link_to "Contact Us", contactus_path, class: "btn btn-light" %>
  </div>
  <br/>
  <div class="box col-10 offset-1">
    <br/>
    <div class="container row">
      <div class="col-sm-6 text-left">
        <h5>We offer the following services:</h5>
        <ul>
          <li>Project Management</li>
          <li>Process Engineering</li>
          <li>Project Execution and Startup</li>
          <li>Procedural Documentation and Drawing Updates</li>
          <li>Technical Studies and Reporting</li>
          <li>Piping and Instrumentation Diagram (P&ID) Management</li>
          <li>Control Systems Engineering</li>
          <li>Water and Waste Water Treatment</li>
        </ul>
      </div>
      <div class="col-sm-6 text-left">
        <h5>Our background and industry experience:</h5>
        <ul>
          <li>Aerospace Materials</li>
          <li>Petroleum Manufacturing Processes</li>
          <li>Medical Device Manufacturing</li>
          <li>Thermoplastic Extrusion</li>
          <li>Nanomaterials Research, Development, and Manufacturing</li>
          <li>Specialty Gas Distillation</li>
          <li>Wood Products</li>
          <li>Food and Beverage Manufacturing</li>
          <li>Computer Coding</li>
          <li>Energy Efficiency</li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</div>