<div class="mainpicture">
<br/>
  <div class="box col-10 offset-1 text-center">
    <div class="container">
      <h1><%= title 'About Us'%></h1>
      <p>Process Engineering Consultants, LLC, was founded in 2019 to develop partnerships with local businesses to help improve their processes, products, and bottom line. PEC specializes in project management, process engineering, and project execution. Our goal is to assist with your projects, small to large, to help you improve your product quality and largely, to increase your net revenue. We have years of industrial experience in chemical engineering and project management to assist your company's gain in your desired metric.</p>
    </div>
    <div class="container row">
      <div class="col-sm-6 text-left">
        <ul>Our program deliverables:
          <li>Project Management</li>
          <li>Process Engineering</li>
          <li>Project Execution and Startup</li>
          <li>Procedural Documentation and Drawing Updates</li>
          <li>Technical Studies and Reporting</li>
          <li>Process and Instrumentation Diagram (P&ID) Management</li>
        </ul>
      </div>
      <div class="col-sm-6 text-left">
        <ul>We have experience in:
          <li>Aerospace Materials</li>
          <li>Petroleum Manufacturing Processes</li>
          <li>Medical Device Manufacturing</li>
          <li>Nanomaterials Research, Development, and Manufacturing</li>
          <li>Specialty Gas Distilllation</li>
          <li>Energy Efficiency</li>
        </ul>
      </div>
    </div>
  </div>
  </div> 
</div>