<div class="mainpicture">
  <br/>
    <div class="box col-10 offset-1 text-center">
      <h1><%= title 'Process Engineering Consultants, LLC'%></h1>
      <br/>
      <div class="col-sm-10 offset-sm-1">
        <h6>Process Engineering Consultants, LLC, was founded to help businesses succeed in adding to their bottom line. Process Engineering Consultants (PEC) will help your business maximize profits by streamlining operations, maximizing yields, and increasing productivity.</h6>
        <br/>
        <h6>PEC has several years of experience working in industrial sectors. We support existing operations and new designs from concept to completion.</h6>
        <br/> 
        <%= link_to "Contact Us", contactus_path, class: "btn btn-light" %> 
    </div>
</div>
  

