@import "bootstrap";

.mainpicture {
  background: image_url('mainpic.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
}

.box {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: .5rem;
}

.box a, a.btn, span.badge, input.btn, button.btn {
  color: black;
}

.footer {
  font: 15px;
}