@import "bootstrap";

.box {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: .5rem;
}

.larger_box {
  
}

.box a, a.btn, span.badge, input.btn, button.btn {
  color: black;
}

.circle {
    font-weight: bold;
    /*font-style: italic;*/
    position: relative;
    border-radius: 100%;
    background: #808080;
    border: 5px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
   /* transform: rotate(11deg);
    -ms-transform: rotate(11deg); *//* IE 9 */
    /*-webkit-transform: rotate(11deg);*/ /* Opera, Chrome, and Safari */
    }

.footer {
  font: 15px;
}

.mainpicture {
  background: image_url('mainpic.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 90vh;
}

.navbar-brand {
  margin-right: 0px;
  padding-top: 10px;
}